# PostgreSQL credentials
DB_USER=postgres
DB_PASSWORD=bookland_secret
DB_NAME=bookland

# Redis Configuration
REDIS_URL=redis://redis:6379

# pgAdmin (Database viewer credentials)
PGADMIN_EMAIL=admin@bookland.com
PGADMIN_PASSWORD=admin

# Express Backend Port
PORT=3001

# React Frontend Configuration
VITE_API_URL=http://localhost:3001
